[2020-05-13 10:25] sunhuaiqiang opened #1 "Installation error"
I got
ERROR: Could not find a version that satisfies the requirement shleeh>=0.0.4 (from bruker==0.3.2rc0) (from versions: 0.0.1.dev1)
ERROR: No matching distribution found for shleeh>=0.0.4 (from bruker==0.3.2rc0)
when I run
pip install bruker
OR
pip install git+https://github.com/dvm-shlee/bruker

[2020-05-13 12:32] dvm-shlee commented on #1
@sunhuaiqiang
Thank you for open this issue, I was not aware I did not update the dependent module.
It should work now, could you try
pip install --upgrade shleeh bruker

[2020-05-13 22:45] sunhuaiqiang commented on #1
it works,  cool!

[2020-05-14 00:33] dvm-shlee commented on #1
@sunhuaiqiang Good to hear that it worked well! Then, I will close this issue.

BTW, I just found more issues today and fixed it as much as possible, and so far, the 0.3.2 released version is the most stable version. Please let me know if you have any issues while using this module! Thanks!

[2020-05-14 00:33] #1 closed

[2020-05-30 01:43] gdevenyi opened #2 "brkraw tonii_all fails while tonii succeeds"
[code]

[2020-05-30 01:50] gdevenyi opened #3 "documentation for --recoid and --scanid unclear"
Typically, I would except to be able to extract single scan by some sort of number in the scan order:
[code]

I don't know what --recoid and --scanid refer to?

[2020-05-30 01:51] gdevenyi opened #4 "brkraw gui fails to convert if "SetOutput" is not pressed first"
[code]

Either SetOutput should be grayed out, or the output directory should default to the runtime directory of brkraw

[2020-05-31 20:01] dvm-shlee commented on #2
@gdevenyi tonii_all function is designed to convert multiple Bruker raw data. It may be caused by inputting a single raw directly. Could you try to put your 'raw' into an empty folder and target that parent folder for tonii_all?

[2020-05-31 20:25] dvm-shlee commented on #3
Hi @gdevenyi
Sorry about the unclear documentation for the single file conversion and also thank you for reporting a bug.
The --scanid and --recoid are the options to specify the Scan ID and Reconstruction ID as you expected.

The reason you cannot get it is because of the bug that the input passed as a string value
while the python API of the conversion only accepts integer.

I've fixed the bug s

[2020-05-31 20:27] dvm-shlee commented on #4
@gdevenyi  Thank you for posting the issue for this as well.
I've fixed this issue as well, so from 0.3.3 rc2 version, without SetOutput, it will save onto your current folder (where you execute the GUI mode)

Please let me know if the issue is not resolved after the update.

Thank you!

[2020-06-02 15:11] gdevenyi commented on #2
Putting ``raw`` into a subdirectory ``test`` and using tonii_all:
[code]

[2020-06-02 15:21] gdevenyi commented on #4
Fixed.

[2020-06-02 15:21] #4 closed

[2020-06-02 15:46] gdevenyi commented on #3
The error has been fixed, however --scanid annd --recoid haven't had their documentation updated to indicate what they refer to.

[2020-06-02 15:47] gdevenyi opened #5 "Trying to reconstruct non-existant "recoid" doesn't give helpful error"
[code]

[2020-06-02 19:10] egarza opened #6 "Conversion of T1w FLASH with 2 repetitions crashing"
Hi,

I'm using a Bruker Pharmascan.
brkraw v0.3.3rc5
Ubuntu 18 LTS

When I try to convert my 3D_Flash image with 2 repetitions (2 3D volumes) with the GUI, it doesn't let me:

INFO:

[code]

[https://ibb.co/GTSxJWf](Image)

[code]
I also can't see the Image preview in the GUI.

The rest of the sequences were exported fine.

Thank you,

Eduardo

[2020-06-02 19:31] dvm-shlee commented on #6
@egarza Hi! Thank you for reporting the bug.
Could you share with me the image having the issue? Zip compressed file would be the best for me to test.

[2020-06-02 19:33] dvm-shlee commented on #3
@gdevenyi Thank you for your comments on it. Regarding the documentation, I just made updated it on https://brkraw.github.io but are you meaning the documentation on the usage of CLI?

[2020-06-02 19:34] egarza commented on #6
Sure, here is the sequence file:

[https://drive.google.com/file/d/1L7c1W7_a7_JzPO_WuW8xt4pvN99o3aPQ/view?usp=sharing](Bruker File)

[2020-06-02 19:37] gdevenyi commented on #3
Yes, I'm referring to the CLI

[2020-06-02 19:45] dvm-shlee commented on #6
I just requested the access with my google id jaru419@gmail.com

[2020-06-02 20:07] dvm-shlee commented on #5
@gdevenyi It a great suggestion! I will make some updates to print out available scan id or reco id if the input is invalid.
I will push this change after some testing.

Thank you!

[2020-06-02 20:08] dvm-shlee commented on #3
Thank you for clarifying. I will update the documentation for the next update!

[2020-06-02 20:11] dvm-shlee commented on #2
@gdevenyi Thank you for reporting this bug. I found that I made some mistake on the code. The patch will be applied on the next update. Thanks!

[2020-06-02 20:54] egarza commented on #6
its the folder of the sequence, with the pdata file inside.

Sorry, I thought it was shared with anyone with the link.

Here it is again: [https://drive.google.com/file/d/1L7c1W7_a7_JzPO_WuW8xt4pvN99o3aPQ/view?usp=sharing](ZIP)

[2020-06-02 21:05] dvm-shlee commented on #6
@egarza Ok! it seems working now. Could you try a new version, 0.3.3rc6?

[2020-06-02 21:07] dvm-shlee commented on #5
@gdevenyi Made an update for it, Below will be an expected result with an invalid scan id or reco id.
![image](https://user-images.githubusercontent.com/7221078/83570068-6e22bd00-a4f3-11ea-83aa-ecd04736ae75.png)

[2020-06-02 21:10] dvm-shlee commented on #3
@gdevenyi the help string for --scanid and --recoid are updated on CLI as below.
If these are still not clear, could you make some suggestions? (actually not good at this kind of writing, unfortunately.... :-(

--scanid: Scan ID, option to specify a particular scan to convert.
--recoid: RECO ID (default=1), option to specify a particular reco to convert

[2020-06-02 21:13] egarza commented on #6
great, thanks, let me do that.

[2020-06-02 21:14] dvm-shlee commented on #2
@gdevenyi Ok, it will work now from 0.3.3rc6
Please let me know if the issue still exists.
Thank you!

[2020-06-02 21:21] egarza commented on #6
It worked, great, thank you very much!

[2020-06-02 21:21] #6 closed

[2020-06-02 21:31] egarza opened #7 "3D FLASH T1w slope"
Hi again,

This is another issue that drove us crazy when using DICOMS. Seems the intensity range in the Bruker 3D FLASH T1w is from 0-1. We usually just removed the 2 first lines in the following DICOM header options to fix it:

[code]
This is also true for the GRE-EPI data:

[code]

Is there a way to Convert the file with the full range?

Thank you,

Eduardo

[2020-06-02 21:52] lconcha opened #8 "output diffusion gradients"
Thanks for such an amazing tool.

Can brkraw output diffusion gradient directions and b values (bvals, bvecs)? I cannot find any information on the documentation.

[2020-06-02 22:31] dvm-shlee commented on #7
@egarza It seems what you are asking is the way to remove data slope.

I just add the option --ignore_slope
just add it to your command. such as
To use this new option, please update with the command below
```pip install --upgrade git+https://github.com/brkraw/bruker```
then
```brkraw gui --ignore_slope```
or
```brkraw tonii --ignore_slope <raw data path>```

Hope this can solve your issue.

[2020-06-02 22:43] dvm-shlee commented on #8
@lconcha Hi, yes, it can generate the gradient direction, but since I don't do DTI imaging, I haven't tested much.
I just made an update that if you convert DTI scan, it will automatically generate bmat bval and bvec
It may not work for some custom sequences, because it only works when 'METHOD' parameter in 'method' file contains 'DTI' (no case sensitive ). so please let me know if it does not wor

[2020-06-02 22:43] dvm-shlee commented on #7
@egarza Since I had an additional update, you can use this function from 0.3.3rc8

[2020-06-02 22:47] egarza commented on #7
Great! thanks again

[2020-06-02 23:47] dvm-shlee commented on #7
Could you close this issue if you don't have any problem with the new option? Thank you!

[2020-06-03 00:32] gdevenyi commented on #7
I think if its not already there --ignore-offset should go with this.

[2020-06-03 00:40] dvm-shlee commented on #7
@gdevenyi I've already made the changes but if the term --ignore-offset is more suitable, I will update it for 0.3.3 release version.

Thank you for your comment!

[2020-06-03 00:51] gdevenyi commented on #7
sorry, thats not what I mean. The bruker specifies a scaling as an offset + a slope to remap the on-disk data into a different data range. If we have an --ignore-slope parameter, we should also have an --ignore-offset parameter

[2020-06-03 00:51] gdevenyi commented on #7
See https://github.com/SebastianoF/bruker2nifti/blob/6cf20451a135e9d001a39ad2bd6efc81c253c609/bruker2nifti/_cores.py for example

[2020-06-03 00:59] gdevenyi commented on #2
Works now. Thanks.

[2020-06-03 00:59] #2 closed

[2020-06-03 01:02] gdevenyi commented on #3
Thanks, this is much improved.
For this:
[code]
The help should use the full name for reco, which I *think* is reconstruction?

[2020-06-03 02:08] dvm-shlee commented on #7
@gdevenyi I got what your point now. The reason I only handled this is before I haven't seen any offset value assigned on Bruker data so far. And these two would be better to go together since it's just for correcting the value into the data type (16bit) by combining two (slope and offset).

So if there is any good idea to cover both (for example --ignore-correction), it would be more suitable I t

[2020-06-03 02:11] dvm-shlee commented on #3
@gdevenyi Thank you for your suggestion!
Then maybe we can try..
```--recoid: RECO ID (default=1), option to specify a particular reconstruction id code to convert```
or
```--recoid: RECO ID (default=1), option to specify a particular method of reconstruction to convert```
Do you have any preferences?

[2020-06-03 02:32] gdevenyi commented on #3
I think I prefer:
[code]

[2020-06-03 02:34] gdevenyi commented on #7
I think we should try to implement the spec as-is, even if we've never seen values for some things. This kind of correction is important for quantitative acquisions.

I think rather, I'd like three options
--ignore-slope
--ignore-offset
--ignore-rescaling

Where --ignore-rescaling disables both.

[2020-06-03 02:45] dvm-shlee commented on #7
@gdevenyi It makes sense to me. I will implement those three options on the next update. Thank you for the suggestion!

[2020-06-03 14:27] egarza commented on #7
Thank you, that would help a lot. This is a big issue specially for volumetric analysis.

[2020-06-03 15:42] lconcha commented on #8
You are fast! Thanks for the patch.

It seems to be working properly, even for multi-shell acquisitions.
Of note, Bruker stores gradient directions without normalizing the vectors, with those corresponding to maximum bvalue having a norm=1, and the others gradient vectors scaled according to b value. `brkraw` outputs the bvecs and bvals according to this style. Not all dMRI software likes this con

[2020-06-03 19:29] dvm-shlee commented on #8
@lconcha Thank you for your feedback and providing useful information. If the normalization function would be preferred, I could also integrate it so please let me know.

Regarding the Z direction, since the data from BrkRaw just extract raw value from raw data without conversion, there would be some facter that MRtrix conver it intentionally. so hope to ask if you could share raw data (at least m

[2020-06-04 04:27] dvm-shlee commented on #8
@lconcha Thank you for sharing the data, but I couldn't found any clue from here what can cause the inverse-sign at the Z axis.

The only difference with my usual setting will be the animal position is Head_Prone instead of Head_Supine. but according to [this document.](https://mipav.cit.nih.gov/documentation/api/gov/nih/mipav/model/file/FileBRUKER.html)
It seems the `bvec` that I parsed from PVM_

[2020-06-04 14:26] eugenegkim opened #9 "rostral-caudal axis is flipped for tail prone data"
Very nice tool! My only issue is that the rostral-caudal (anterior-posterior) axis is the wrong way around for my tail prone dataset even though the Entry field is correctly identified as "FeetFirst". Is there a way to flip the orientation in this case?

[2020-06-04 14:31] dvm-shlee commented on #9
@eugenegkim That's just a bug because I haven't had enough test case for that.
Could you provide the dataset that causes the issue? then I can fix it for the next update.

Thank you!

[2020-06-04 14:42] dvm-shlee commented on #9
@eugenegkim Oh BTW, could you let me know if it just flipped or rotated 180 degrees so that the left and right are also flipped?

If you are urgent to access the data and If you are familiar with python, you can easily correct that with python API.

For example. as below.

[code]

[2020-06-04 14:56] eugenegkim commented on #9
Oh good point. It looks like it's rotated 180 degrees. I use an in-house converter, so it's not urgent. But I'm looking into making all my data BIDS-compliant. I'll send you the dataset in a moment. Thanks!

[2020-06-04 15:00] eugenegkim commented on #8
@dvm-shlee Does bids_convert have an option to write out the bvec and bval files?

[2020-06-04 15:09] dvm-shlee commented on #9
@eugenegkim Oh BTW, have we meet at the Bruker sequence programming course? Your name is familiar 😃

[2020-06-04 15:13] eugenegkim commented on #9
Yeah! Seems like ages ago. Hope you and all your loved ones are doing well.

[2020-06-04 15:22] dvm-shlee commented on #9
@eugenegkim Thanks for sharing the data. I will update the code once I clarify the issue. Regarding the BIDS, there is something I haven't documented yet (for JSON), so if you experiencing any issue, please let me know.

[2020-06-04 16:33] eugenegkim commented on #8
@dvm-shlee I've found that bvec and bval files are written if the modality for the DTI scan is set to 'dwi' in the BIDS datasheet. But the modality was initially blank after running bids_helper. So maybe bids_helper can be updated to set the modality of all DTI scans to 'dwi'? And I would say that it's fine to always output the bvec and bval files.

Oh and BIDS wants the bvecs in 3 rows. They are

[2020-06-04 17:51] dvm-shlee commented on #8
@eugenegkim The BIDS helper documents are not related to the bvec and bval conversion, its internally check the parameter file. but I can make default value for DTI to have dwi.

Also, I will correct output of bvec to have 3 rows instead of 3 columns,
thank you for your suggestion and for reporting the issue!

[2020-06-04 17:56] dvm-shlee commented on #7
@gdevenyi  @egarza 0.3.3 released version will have those functions.
--ignore-rescale, or --ignore-slope and --ignore-offset
I will close this issue, but please let me know if other issues occurred related to this change.

[2020-06-04 17:56] #7 closed

[2020-06-04 17:57] dvm-shlee commented on #5
Found that scan id case does not return the helpful message and fixed it. From release v0.3.3 it will return message. I will close this issue Thank you!

[2020-06-04 17:57] #5 closed

[2020-06-04 17:57] dvm-shlee commented on #3
@gdevenyi I update your suggestion to the help document on CLI.
I will close this issue, Thank you!

[2020-06-04 17:57] #3 closed

[2020-06-04 18:00] dvm-shlee commented on #9
@eugenegkim Found that Bruker does internal correction for the position, so actually no need additional correction. For your dataset, it works without issue from v0.3.3 released version.

[2020-06-04 18:20] dvm-shlee commented on #8
@eugenegkim The bvec now has 3 rows and DTI will have default modality as dwi on BIDS excel sheet
Please let me know if you still have any issues.

[2020-06-05 11:30] eugenegkim commented on #9
Thanks!

[2020-06-05 11:30] #9 closed

[2020-06-05 11:31] eugenegkim commented on #8
@dvm-shlee Thanks for your quick responses!

[2020-06-05 17:47] gdevenyi opened #10 "Remove position correction broke PV5.1 conversion"
Hi,

This commit
https://github.com/BrkRaw/bruker/commit/686036aa1115d5f5c1c82dd787ba1174268fed5f

Broke the PV5.1 orientation. I now get my mouse-phatom converted backward.

[2020-06-05 17:50] gdevenyi commented on #10
0.3.3rc0:
![image](https://user-images.githubusercontent.com/3001850/83907472-71a48700-a733-11ea-801a-67b4ac44c93e.png)

HEAD (0.3.3)
![image](https://user-images.githubusercontent.com/3001850/83907527-8ed95580-a733-11ea-9c8d-97ff67dbb123.png)

[2020-06-05 18:43] gdevenyi commented on #10
Scans collected on PV6 seem to work properly.

[2020-06-05 20:12] dvm-shlee commented on #10
@gdevenyi  Thank you for reporting!
Yeah, I forgot there was the reason that I've added the position correction.
Currently, I made a quick patch to correct the subject position on PV5.
Please let me know if this does not properly work.
(version 0.3.4b0, but does not update on PyPi yet)

Thank you!

[2020-06-06 00:47] gdevenyi commented on #10
Things, commit has fixed things.

Can you please git tag all your rc releases so they're easier to test against? Thanks.

[2020-06-06 02:49] dvm-shlee commented on #10
@gdevenyi  That's a great suggestion,
Still learning the way working with GitHub.
Will tag including the all prerelease as well for the future.

Thanks!

[2020-06-08 22:15] egarza opened #11 "bids_convert crashing"
Hi!

I'm testing the bids_convert with my data.

First I ran the bids_helper to create the XLSX and JSON files.

Then I edited the [xlsx file](https://drive.google.com/file/d/1p1KOf1ma61PLnG2eGb-8l98WwgtMBejg/view?usp=sharing).
Here is the [JSON](https://drive.google.com/file/d/1tNqAhjouxS0K9ZpiDqeBZCXeDFYwMsi7/view?usp=sharing)

Then I ran:

`brkraw bids_convert -j Model20p_bids.json -o Model20p_

[2020-06-08 22:29] egarza commented on #11
I ran everything again with the "default" `SessID` and it worked.

Can SessID be modified such as SubjectID?

Otherwise, it worked great.

Thank you

Eduardo

[2020-06-08 22:31] egarza commented on #11
In the JSON, `"TaskName": "Value was not specified"`, however I did put `rest` as the task in the XLSX.

[2020-06-09 15:43] dvm-shlee commented on #11
@egarza could you send me the xlsx file showing the issue?

[2020-06-09 16:20] egarza commented on #11
It's in my comment. It's a Google drive

[2020-06-09 17:35] dvm-shlee commented on #11
@egarza According to the error message you posted, it seems the pandas do not recognize the 'SessID' column. So wondering if the file you put a link on your commend is the file that causing the error or with the default session?

Thanks!

[2020-06-09 17:48] dvm-shlee commented on #11
@egarza Regarding the JSON, The "Value was not specified" message will be added when it is assigned as null at the JSON file, and unfortunately, the JSON does not communicate with BIDS sheets, so you need to provide the value for the TaskName by editing the JSON file.

This means that if you have multiple tasks design, it requires manual updates for single file.
I'm considering making an additiona

[2020-06-09 19:05] lconcha commented on #8
Thanks for the patches. Seems to be working now.
Regarding gradient vector sign, I cannot get dcm2niix to output gradients from bruker dicoms, so I have not been able to compare the two. I do not have much access to the scanner these days (covid), but will try to run some simple tests to figure out which version is the one that reflects the user-specified gradients.

Just a note on the new patch:

[2020-06-09 19:22] egarza commented on #11
The file I uploaded was the one that DID NOT work. I can upload the file that DID work. I just left the `SessID`alone, no changes on the column name. I'll upload the working file in a moment.

About the JSON, if the task field from the XLSX can be sent to the JSON that would help a lot, otherwise changing eaach individual JSON can become challenging.

Thanks

[2020-06-10 01:42] dvm-shlee commented on #11
@egarza BTW, regarding the JSON, I meant you only need changing 'Model20p_bids.json' file instead of all other files, but this option only allows one task per dataset.

Because the value in 'task' in the filename seems not sufficient to use as task value, I'm considering other options, such as combine with task_event file, which researcher required to upload for task-based fMRI, so be more flexibl

[2020-06-10 01:51] dvm-shlee commented on #8
@lconcha Thank you for report additional bug. I will check and make a patch for it!

[2020-06-10 01:55] dvm-shlee commented on #11
@egarza Regarding the BIDS sheet, the error caused because the BIDS sheet is not the first datasheet in excel.

Please check the below image.
![image](https://user-images.githubusercontent.com/7221078/84218078-b9ad0c00-aa9b-11ea-9363-37941a426725.png)

If you change the above as below, it will work again.
![image](https://user-images.githubusercontent.com/7221078/84218145-d3e6ea00-aa9b-11ea-94e3-a

[2020-06-12 22:30] Gab-D-G opened #12 "Failed EPI conversion to nifti"
Hi,

I have tried the conversion to nifti on the following mouse EPI acquisition:

[code]

I ran the following, and the EPI file wasn’t successfully converted:
[code]
Any idea regarding the source of the issue?

A copy of the data can be found here https://drive.google.com/drive/folders/1hcXVsyeTWRcK76OJ1VNQtAXdfJ91vBWf?usp=sharing

[2020-06-13 20:32] dvm-shlee commented on #12
@Gab-D-G Thank you for sharing the data, I will check and let you know what could be an issue.

[2020-06-13 21:18] dvm-shlee commented on #12
@Gab-D-G This seems unusual error I've never had. The reason is you have an inconsistent rescale value for each slide. Is it the version beyond Paravision 6.01 or do you have a particular setup on datatype? (default reconstruction option?)

[2020-06-13 21:44] gdevenyi commented on #12
This is Paravision 5.1, and we have adjusted the reconstruction at least to remove the percentile clipping because it was messing up the full intensity range of the EPI. I wouldn't consider the value "inconsistent" its just every single timeslice is rescaled to maximize the data range. I think the converter should probable handle this properly.

[2020-06-13 21:45] gdevenyi commented on #12
I wonder if --ignore-rescale would allow this to convert in the meantime.

[2020-06-13 21:48] dvm-shlee commented on #12
@gdevenyi Yes, I think I can handle this. Thank you for your comment. If this is data for fMRI, the scale needs to be properly applied because rescaling each frame differently changes the timecourse.

[2020-06-13 21:52] dvm-shlee commented on #12
@Gab-D-G Until I'm making an update, if you need urgent conversion, please use python API as below.

[code]

This will convert data after rescale using slope value.

[2020-06-15 00:20] Gab-D-G commented on #12
Great, thanks a lot!

[2020-06-25 02:18] dvm-shlee commented on #12
@Gab-D-G Sorry for delaying on this! The issue has resolved from v0.3.4.
Please let me know if you have any issues regarding this update.

[2020-06-26 19:31] PeerHerholz opened #13 "review comments based on JOSS submissin"
Hello everyone,

my name is Peer and I'm one of the reviewers of the manuscript you've submitted to [JOSS](https://github.com/openjournals/joss-reviews/issues/2277) regarding this repository and tool.

Based on my first round of review, I would like to provide some feedback regarding the review points I did not checked and I think need just a little more work to bring this already great manuscript

[2020-06-28 01:42] dvm-shlee commented on #13
@PeerHerholz Thank you for the useful and detailed comments. We will update the package according to each item and will generate PR for each item as well. Regarding building community, as up now.

[2020-06-28 21:44] PeerHerholz commented on #13
Hi @dvm-shlee,

cool, thanks a lot. I very much look forward to it!

[2020-07-05 12:02] mih opened #14 "Unsubstantiated claim re market share OR citation needed"
Hey, this issue is part of my review of your JOSS submission at https://github.com/openjournals/joss-reviews/issues/2277

A bit of a nit pick, but in the paper you state

I understand that being the leader indirectly justifies the need for BrkRaw. However, "leading" has many connotations, and it would certainly be sufficient to claim that quite a few Bruker systems are in use in the field, without

[2020-07-05 12:23] mih opened #16 "Incompatible with Python 3.8?"
Hey, this issue is part of my review of your JOSS submission at https://github.com/openjournals/joss-reviews/issues/2277

I am running Debian bullseye with Python 3.8.3. I cannot install brkraw using this version, because 3.8 is not a supported version.

[code]

Going through the source code I cannot easily find a reason for that. Is 3.8 incompatible? Do you have plans to support 3.8?

[2020-07-05 12:27] mih opened #17 "Could SimpleITK become an optional dependency?"
Hey, this issue is part of my review of your JOSS submission at https://github.com/openjournals/joss-reviews/issues/2277

SimpleITK is a quite heavy (>40MB) and needs to be compiled (in contrast to the pure Python NiBabel). Moreover, it is only used in a single location `lib/loader.py:get_sitkimg()` via an internal import.

Could this be made an optional dependency and safe non-ITK users the poten

[2020-07-05 12:29] mih opened #18 "LICENSE file contains more than one license (merge-conflict left-over)"
Hey, this issue is part of my review of your JOSS submission at openjournals/joss-reviews#2277

It starts like this:

[code]

but the entire file seems to be affected.

[2020-07-05 12:44] mih opened #20 "Contribute low-level code to NiBabel?"
Hey, this issue is part of my review of your JOSS submission at openjournals/joss-reviews#2277

This package provides valuable functionality that is not available in NiBabel. However, NiBabel, arguably, is the key package for neuroimaging file format support in the Python ecosystem. It has more than 80 contributors so far, and a solid track record for keeping essential data IO procedures alive and

[2020-07-05 12:52] mih opened #21 "How can correct function be verified?"
Hey, this issue is part of my review of your JOSS submission at openjournals/joss-reviews#2277

The code repository does not seem to contain unittests or another kind of tests, and I did not find instructions on how to verify correct behavior for a particular deployment. There is also no CI set up on GitHub. Given that correct behavior of research data IO implementations is crucial (considering th

[2020-07-05 18:54] gdevenyi commented on #17
https://github.com/BrkRaw/bruker/blob/master/brkraw/lib/loader.py#L356-L405

[2020-07-05 18:56] gdevenyi commented on #21
I suggest perhaps that we could validate against a NIFTI export from Paravision360, however I don't have it and I don't know anyone who does who could provide some example data.

Having said that, I'm not sure I trust Bruker to actually properly implement a NIFTI conversion anyways.

[2020-07-05 18:58] gdevenyi commented on #20
Does nibabel provide DICOM-to-NIFTI export? That would be equivalent to adding this code into nibabel, otherwise, I'm not sure I understand the suggestion.

[2020-07-06 16:44] mwegrzyn commented on #13
Dear @dvm-shlee et al.,

my name is Martin Wegrzyn and I am one of the reviewers assigned to your submission to JOSS. Thank you for your work on BrkRaw. The following are some comments I have regarding my first impression of the package and the manuscript:

**code&examples**

- [ ]  I tried to run the notebook examples/BrkRaw_PythonAPI.ipynb but got a number of error messages and some inconsistenc

[2020-07-06 17:19] mwegrzyn opened #22 "Review Comments JOSS, Reviewer Martin Wegrzyn"
Dear @dvm-shlee et al.,

my name is Martin Wegrzyn and I am one of the reviewers assigned to your submission to JOSS. Thank you for your work on BrkRaw. The following are some comments I have regarding my first impression of the package and the manuscript:

**code & examples**

- [ ]  I tried to run the notebook ```examples/BrkRaw_PythonAPI.ipynb``` but got a number of error messages and some inco

[2020-07-06 17:25] dvm-shlee commented on #16
@mih Thank you for your comments,

The supported versions are listed on the documentation page: https://brkraw.github.io/docs/gs_inst.html as 3.6 and 3.7 only
because those are only the versions I've fully tested so far.
There are few issues supporting 3.8 at this point due to some syntax changes, which I experience some unexpected bugs.
So, I just blocked it intentionally to prevent this issue.

[2020-07-06 17:40] dvm-shlee commented on #20
@mih Thank you for your comment, as @gdevenyi pointed out, the low-level code aims to load Bruker raw data without conversion. The feature I added to support NiBabel NifTi object and Simple ITK image object helps the user can access the data in their convenient way without conversion.

Since the NiBabel is not designed for the raw data conversion, I don't think the low-level code can be integrated

[2020-07-06 17:42] dvm-shlee commented on #22
Thank you for your comments! I will prepare the response soon and revise the code and paper as well soon!

[2020-07-06 17:50] dvm-shlee commented on #18
@mih Thank you to point out! I did not aware! I will correct on the revised version. Thank you!

[2020-07-06 17:52] dvm-shlee commented on #17
@mih This is the good point, I will try to find a way to make it optional and revise the script.

[2020-07-06 18:07] dvm-shlee commented on #21
@mih Thank you for your valuable comment! As @gdevenyi pointed, most researchers do not believe the fidelity of the converter even Bruker provided themselves. So it's somewhat hard to guarantee that this library can behave well for all data. For this reason, I was trying to interact directly with the user to deal with the issue, so improve the fidelity of the converter. However, I strongly agree t

[2020-07-08 16:21] Gab-D-G commented on #12
The conversion is working perfectly now. Thanks a lot for addressing this!

[2020-07-08 16:50] Gab-D-G commented on #12
As a follow-up to this, I tried the conversion to BIDS format on the same dataset (in raw/20190807_MCH_MFC_058.UE1) and ran into the following error
[code]
The .xlsx and .json files were obtained by running
[code]
It seems to ignore the error when I run the conversion using tonii_all -b option, but this option doesn't take care of the file naming
[code]
Can I get support on this issue?

[2020-07-10 19:23] dvm-shlee commented on #12
@Gab-D-G  I will check the issue! Thank you for the report!

[2020-07-14 16:05] gdevenyi opened #23 "Suggestion: stack tripilot slices into single image"
When tripilot scans are converted by https://github.com/SebastianoF/bruker2nifti the individual slice directions are stacked into a single image, rather than each 2D slice being a seperate nifti file. I think this makes more sense for conversion.

[2020-07-14 16:18] gdevenyi opened #24 "brkraw 0.3.4 bids generation for PV5.1 throws unknown error/warning, perhaps phase encoding issue"
[code]

[code]

Perhaps a bit more informative, if I use ``brkraw tonii_all`` on the parent directory:
[code]

[2020-07-14 17:27] gdevenyi opened #25 "PV6 VisuSubjectType is not used to provide proper orientation in combination with VisuSubjectPosition"
In the case of PV6, there are several options for input subject type:
![image](https://user-images.githubusercontent.com/3001850/87456416-e5f50480-c5d4-11ea-9abc-2122ac8ffb60.png)

When combined with VisuSubjectPosition, these need to properly orient the scan in standardized coordinates.

Take for example a primate in "Head First Supine" vs a Rodent in "Head First Supine", the brain will be rotate

[2020-07-14 17:33] gdevenyi commented on #10
Hi, I need to reopen this and apologize. It seems that all of our data has been collected incorrectly as "Head First Supine" as such your original conversion was correct and you should revert
7aaa7e8

[2020-07-14 17:35] gdevenyi opened #26 "Feature Request: Add override settings for orientation information"
It is possible for an operator to set orientation (and subject type, see #25 ) incorrectly such that conversion does not work properly. I'd like to request options to override the detected orientation to allow conversion to work properly.

[2020-07-14 17:36] gdevenyi commented on #26
Ref #10

[2020-07-14 17:44] gdevenyi opened #27 "tonii_all crashes if run against a bruker study directory"
Works fine if I run it properly on the parent directory, however crashes if I run against a single study (I know this is not the right way to do it, but it shouldn't crash)
[code]

[2020-07-14 18:00] gdevenyi commented on #21
Our group is preparing a large dataset of PV5/PV6 scans of a phantom with all the default sequences, tweaking a large variety of parameters as well as subject type and orientation. We'll be happy to contribute this as a validation set for this.

[2020-07-14 20:38] dvm-shlee commented on #21
@gdevenyi  Thank you for your suggestion, I appreciate your heavy contribution to this project! I just sent an invitation to this project in case you interested in contributing as an author as well! Thank you so much!

[2020-07-24 13:03] dvm-shlee commented on #10
@gdevenyi This is reverted, Thank you for letting me know! I will close this issue.

[2020-07-24 13:03] #10 closed

[2020-07-24 15:33] dvm-shlee commented on #12
@Gab-D-G Sorry about late to solve this issue. The issue occurs during metadata parsing for JSON, and multiple phase encoding directions caused this. I just remove the exception on the code and updated it to parsing the values for each slice packages. So the error will not show up for future versions.

Currently, due to the paper review, I'm planning to update solutions for the all current issue o

[2020-07-24 15:39] dvm-shlee commented on #23
@gdevenyi The reason I decided to separate them is NifTi cannot store multiple orientation matrixes.
The separation will happen when the scan contains distinct orientation profiles among the slice packages.

So I think this is something I cannot integrate because it cannot assure the image orientation for each slice.
If you think still it is something needed, I may consider adding an option to mer

[2020-07-24 15:43] dvm-shlee commented on #24
@gdevenyi The issue could be resolved with my last commit related to comment #12, I didn't update the version yet, but could you let me know if my commit resolved this issue as well?

[2020-07-24 15:45] gdevenyi commented on #23
SebastianoF/bruker2nifti at least stacks the slices in the same orientation in one file. This would reduce the file count by a small amount at least. I agree its a limitation of NIFTI, MINC handles this kind of thing fine :)

[2020-07-24 15:48] dvm-shlee commented on #25
@gdevenyi It actually integrated but just not thoroughly tested, so I'm not sure it works correctly,
Currently, I only have a dataset with Quadruped but apply -90 degree on X-axis and 180 degrees for Y-axis to correct the orientation.
The code is located at `brkraw.lib.utils.build_affine_from_orientation_info`
In case this is not functioning as you expected, could you provide any sample that shows

[2020-07-24 15:50] dvm-shlee commented on #27
@gdevenyi Oh this is a good point, it was my bad habit just make occur the error when unexpected execution, I will make it to print message instead for the next version.

[2020-07-24 16:00] dvm-shlee commented on #23
@gdevenyi Thank you for the information. I'm going to check if integrating MINC is feasible for this project.

For tri-pilot, probably I can make two different options whether to skip it or merge it for tonii and tonii_all option if you think this is required for the user?

[2020-07-24 16:02] gdevenyi commented on #25
Ah sorry, I see you have some corrections. I've gotten confused as the scanner console does not have the same options as the code and I was searching for the scanner options in the source.

I think for Other (and maybe Phantom) no correction should be applied? I'm pretty sure the orientation settings are disabled at the console. As for OtherAnimal, at least for their example a snake has the same b

[2020-07-24 16:05] gdevenyi commented on #23
Skipping would definitely be a welcome option, I'm not aware of any uses off-console.

[2020-07-31 19:59] dvm-shlee commented on #26
@gdevenyi I think it would be straight forward for 'tonii' function but probably need to mine some idea how to override specific data in case of tonii_all and bids_convert functions. I will let you know if I figure out the solution. But please let me know if you have comments or any suggestion. Thanks!

[2020-07-31 20:10] gdevenyi commented on #26
I'm okay with it simply being a global setting for tonii_all and bids_convert.

[2020-07-31 20:36] dvm-shlee commented on #18
@mih Its corrected! Thanks!

[2020-07-31 20:36] #18 closed

[2020-08-12 03:14] dvm-shlee commented on #27
@gdevenyi FYI, I updated you as the author for this project since your contributions to refining the module a huge! Thank you a lot! Actually the progression on revising the module and paper is slowed due to the recent busy days but will let you know soon.
I may ask for some advice from you related to the testing module development once I prepared the platform for it.

[2020-08-13 15:45] gdevenyi commented on #27
:+1:

Thank you for the inclusion! I guess I'll have to sling some code now to justify that :)

[2020-11-13 12:40] amirshamaei opened #30 "CSI(MRSI) Data Conversion to nifti"
- I am trying to convert Bruker CSI data to Nifti. Everything looks OK, except for the excited CSI grid. How I can store it in Nifti? Do you think it is possible? should I use a sidecar file like json?
- I don't have access PV360, I am really curious how they store CSI in nifti format! in case you know, I appreciate your answer.
- I tried BrkRaw for CSI data reading; It is really nice tool, but I

[2020-11-17 15:45] hille opened #31 "Naming convention of output file using brkraw tonii"
Hey! I am trying to use brkraw to convert my raw files to nifti.
Unfortunately, within my subject file the values for SubjectID, SessionID and StudyID seem to be weirdly assigned. I am now modyfining those values so that the output after conversion is named clearly and correctly. As far as I understand the files coming from the conversion (when using brkraw tonii) are named according to what is wr

[2020-11-17 21:55] dvm-shlee commented on #30
@amirshamaei Hi, sorry about the delayed response,
Since I'm not familiar with CSI image, I need to take a look at a dataset, could you share it with me?
It probably hard to integrate into a converter at this point if it requires many new functions to reestimate it.
But at least I can show you how to use the python API to achieve your conversion.

Thanks!
SungHo

[2020-11-17 22:01] dvm-shlee commented on #31
Hi @hille
If you use 'tonii' option to convert, as default, it uses,

'SUBJECT_id' and 'SUBJECT_study_nr' values from subject file.
But with -o option, you can specify your own.

[2020-11-18 15:40] hille commented on #31
Hi, thank you for the fast reply!
I was wondering what else except for those two values that you mentioned is included into the file name because when converting my file, it is named "SUBJECT_id_SUBJECT_study_nr-01-1.nii.gz". Could you tell me where the "-01-1" comes from and how to change that?

[2020-11-19 15:18] gdevenyi commented on #31
The naming is constructed here:
https://github.com/BrkRaw/bruker/blob/master/brkraw/scripts/brkraw.py#L136

So those numbers correspond to scan_id and reco_id from the study

[2020-11-19 15:20] gdevenyi commented on #31
There is no way to currently change that naming, as those numbers are needed to guarantee unique naming for every file from inside the bruker dataset.

[2020-11-20 09:33] amirshamaei commented on #30
Sorry for my delayed response, too :)
absolutely, my colleague put a dataset in Zenodo (https://zenodo.org/record/3894651).  The 30th set is CSI data (20200612_094625_lego_phantom_3_1_2/30/fid).
* in case you can not use it, let me know to send you another.

[2020-11-25 11:35] hille commented on #31
Thanks for your answer! Where does reco_id and scan_id come from? Are the values taken somewhere from the subject-file / a different file from the bruker raw files or are those default-values that are set from the brkraw tool?

[2020-11-25 15:39] gdevenyi commented on #31
The `scan_id` refers to order of the scan as collected during the session, and the `reco_id` refers to the number of reconstruction (typically only 1 reconstruction, but additional ones can be done in special cases)

[2020-11-25 15:49] hille commented on #31
Thanks, that helps a lot!

[2020-11-25 15:49] #31 closed

[2020-12-02 16:35] #25 closed

[2020-12-02 17:56] gdevenyi opened #32 "PV5 only allows Human as subject type"
After a careful auditing of the software, PV5 will only ever allow Human subject type, thus, I think we need to do two things

1. Decide on the assumed subject type (Quadruped I suggest)
2. Print a warning about 1.
3. Provide a way to override subject type

[2020-12-02 18:17] gdevenyi opened #33 "PV6 Supine vs Prone does not change conversion"
I have been collecting validation datasets for conversion and run into a conversion bug, which was handled properly in 0.3.4, and is wrong in HEAD.

I have a phantom brain in the scanner, **physically** in the orientation "Head First Prone". I have collected two scans, with PV6 configured as Quadruped, and one scan "Head First Prone" and another "Head First Supine".

`brkraw info` properly reports

[2020-12-02 18:31] gdevenyi commented on #33
It looks like perhaps the existing affine from bruker is actually correct and the additional corrections added were due to confusion regarding the exact orientation of previous phantom test data?

[2020-12-02 18:39] gdevenyi commented on #33
Confirmed with PV5 as well, that just skipping the correction orientation by adding pass here:
https://github.com/BrkRaw/bruker/blob/master/brkraw/lib/orient.py#L24

Results in correct orientations for the Supine/Prone positions.

I will hold off on making any changes yet, as I want to collect all orientations and "subject types" in both PV5 and PV6 in a single session with the phantom universally

[2020-12-31 16:35] Jetgc opened #34 "the "-r" in the description of using brkraw bids_convert description is not consistent with brkraw.py , which is "-j""
**Describe the bug**
the "-r" in the description of using

 is not consistent with the code of brkraw.py , which is "-j"

[2021-01-13 00:49] dvm-shlee commented on #33
@gdevenyi  Sorry for the delay regarding the update of this software. I tried to make the final orientation to be oriented on subject whether the animal positioned supine or prone. So if the resulted orientation is always the same. I think it is correct.

Please let me know if I mis-catch your point. Thanks!

[2021-01-13 00:53] dvm-shlee commented on #34
Thank you for the correction, just updated it.

[2021-01-13 00:53] #34 closed

[2021-02-12 16:03] grandjeanlab opened #35 "bruker 0.3.6 no longer on pip?"
**Describe the bug**
~2 months ago, `pip insall bruker` would install 0.3.6
Today, only 0.3.3 is available.

Contrary to 0.3.6 , the currently available version doesn't attribute axis orientation correctly for head-first prone mice that were labelled on scan card as being 'supine' (AKA: the trick).

**To Reproduce**
conda create --name bruker pip
source activate bruker
pip install bruker
pip list

[2021-02-12 16:08] gdevenyi commented on #35
`pip install https://github.com/BrkRaw/bruker/archive/0.3.4.tar.gz` will directly install from the releases on github

[2021-02-12 16:11] grandjeanlab commented on #35
:100: :fire: :fire: @gdevenyi

[2021-02-12 16:11] #35 closed

[2021-02-12 16:33] gdevenyi commented on #33
Sorry for the delay, please see email to your github listed email for a orientation dataset to sort this out.

[2021-02-25 20:34] gdevenyi opened #36 "Check that BIDS outputs satisfy validator"
It would be good to make sure that outputs follow the spec with https://github.com/bids-standard/bids-validator

[2021-03-02 14:54] ycAbout opened #37 "website bids converter tutorial Jupyter Notebooks link broken"
**Describe the bug**
Jupyter Notebooks link on bottom of the [bids converter page](https://brkraw.github.io/docs/gs_bids.html) is borken

**To Reproduce**
1. Go to [bids converter page](https://brkraw.github.io/docs/gs_bids.html)
2. Click on 'Jupyter Notebooks'
3. See error 404

To fix, update the link or remove it.

[2021-03-03 18:45] ycAbout opened #38 "brkraw bids converter does not work well with zipped files."
brkraw bids converter does not work well with zipped files.
On official website:
[Simply put all raw Bruker data (or zipped) into a folder and run ‘brkraw bids_helper’ command](https://brkraw.github.io/docs/gs_bids.html)

Used sample data provided named [bruker2nifti_qa-master.zip, in project readme](https://github.com/BrkRaw/bruker/blob/master/README.md),
1. If supply the zip file directly, bids_

[2021-03-03 18:52] gdevenyi commented on #38
The `bruker2nifti_qa-master.zip` file as-is is an image of a git repository and not a single bruker dataset. A single folder from within it zipped up, such as https://gitlab.com/naveau/bruker2nifti_qa/-/tree/master/raw/McGill_Orientation/a20130329_APM_DEV_Orient.j71 should work.

Please test and report back.

[2021-03-03 18:58] ycAbout opened #39 "docker version of brkraw"
I recently has put a couple issues. I currently work with Dr. Gabriel A. Devenyi @gdevenyi on a project that potentially involves brkraw bids converter.
I think a docker version of brkraw would be helpful, given that someone don't have to worry about dependency conflict with other project (or as an alternative to python venv).
I made a simple docker version:
https://hub.docker.com/r/ycabout/brkraw

[2021-03-04 18:53] ycAbout commented on #38
Tested used one single data set as you indicated. The same thing happens.
It works when you unzip all the files, regardless of using the whole qa datasets, or one single dataset.
This is not a blocker for the usage, but rather a optional feature that has claimed to be working.

[2021-03-04 19:02] ycAbout opened #40 "Push the 0.3.4 release to PyPI"
The current git hub release version is 0.3.4, however, the python pip version is still [0.3.3](https://pypi.org/project/bruker/). It would be nice to push the latest release to pip.

[2021-03-04 20:20] ycAbout opened #41 "brkraw not working with a dataset"
**Describe the bug**
brkraw works with the example bruker2nifti_qa dataset.
brkraw does not work with another dataset.
Specifically, with another dataset
`brkraw bids_helper <dataset> <outputfile> -j` works, but produced an empty `.xlsx` file within only column names.
`brkraw bids_convert <dataset> <.xlsx> -j <.json> -o <output folder>` does not work, with the following error:

[code]
Tried to deb

[2021-03-04 20:32] gdevenyi commented on #41
1. I don't think xlsx is valid for an output. It makes csvs.
2. Already reported and fixed in dev, https://github.com/BrkRaw/bruker/issues/27

[2021-03-04 21:26] ycAbout commented on #41
Hi Gabriel,
1. If you follow the documentation here: https://brkraw.github.io/docs/gs_bids.html,  a .xlsx will be produced and it is required for next step. If you mean xlsx should be replaced by csv, I agree. And another json is also an option (I like this one better).
2. Although they seems similar, but they are not the same issue. I simply installed the newest master branch (which already conta

[2021-03-04 21:37] gdevenyi commented on #41
Ugh that is an excel file, it should definitely not be. Please open a separate issue for that.

Based on some more reading here, the .xlsx file needs to be populated to guide the conversion properly. Considering its "empty" bids_convert fails,  although it should throw an error.

[2021-03-04 21:40] gdevenyi commented on #41
See https://github.com/BrkRaw/bruker/issues/11 for a workflow of how the helper is used.

[2021-03-04 21:44] ycAbout opened #42 "bids converter output file should not be xlsx"
This is related to the discussion of issue #41
Gabriel @gdevenyi mentioned that for bids converter, [the documentation here](https://brkraw.github.io/docs/gs_bids.html),
an excel file should not be produced and used, it should be a csv file.
I agree with him, and feels maybe another json file instead of .xlsx or csv might be a good choice.

[2021-03-05 12:01] mabast85 commented on #41
Hi,

similar issue here: when trying to convert my own study using tonii_all, I get the same message, i.e.:

$ brkraw tonii_all /Users/matteob/RatScans/20210302_100344_B_B_rat4d_1_1
Traceback (most recent call last):
  File "/Users/matteob/miniconda3/miniconda3/envs/myfslpython603/bin/brkraw", line 8, in <module>
    sys.exit(main())
  File "/Users/matteob/miniconda3/miniconda3/envs/myfslpython603

[2021-03-05 12:54] gdevenyi commented on #41
@mabast85 can you please open a seperate issue. Also please share the output of find or tree on the directory you're trying to convert and the version of brkraw you're using.

[2021-03-05 13:30] mabast85 opened #43 "tonii_all fails with cryptic error if run on single dataset"
Hi,

I am having an issue when trying to convert my own study using tonii_all.
I get the following message:

$ brkraw tonii_all /Users/matteob/RatScans/20210302_100344_B_B_rat4d_1_1
Traceback (most recent call last):
File "/Users/matteob/miniconda3/miniconda3/envs/myfslpython603/bin/brkraw", line 8, in
sys.exit(main())
File "/Users/matteob/miniconda3/miniconda3/envs/myfslpython603/lib/python3.7/si

[2021-03-05 15:43] gdevenyi commented on #43
This has already been brought up before by me, though it needs to be fixed, tonii_all is intended to be used on a directory which `contains` directories which contain bruker datasets.

https://github.com/BrkRaw/bruker/issues/2#issuecomment-636521168

If you intend to convert one dataset, use tonii.

Please change title to "tonii_all fails with cryptic error if run on single dataset"

[2021-03-05 15:56] mabast85 commented on #43
Thanks very much for your help, it worked on the parent directory using the tonii option.
I changed the title for your record.

Just noticed a typo as well while running the conversion:
"NifTi file is **genetared**..."

[2021-03-18 20:45] ycAbout commented on #43
Hi @mabast85 , where do you find brkraw version 0.3.6? the newest released one is v 0.3.4?

[2021-03-19 02:15] gdevenyi commented on #43
https://github.com/BrkRaw/bruker/blob/master/brkraw/__init__.py#L3

[2021-03-22 20:45] ycAbout opened #44 "Consider change master branch to main branch"
There was a movement in changing the master to main, due to obvious reasons.

Consider change the master branch to main and delete master branch (Just a little suggestion).

[2021-03-23 19:45] ycAbout opened #46 "[brkraw.py] Consider break main function in brkraw.py script into multiple shorter functions"
The main function is way too long in brkraw.py. To increase readability and maintainability, it should be break down into multiple shorter functions. If you don't believe me, please google search "best practice function length"

[2021-03-23 19:50] ycAbout commented on #36
Unfortunately, the results produced by bids_convert was not following bids spec.

Error 1: [Code 1] NOT_INCLUDED
Files with such naming scheme are not part of BIDS specification. This error is most commonly caused by typos in file names that make them not BIDS compatible. Please consult the specification and make sure your files are named correctly. If this is not a file naming issue (for example

[2021-03-23 21:15] gdevenyi commented on #36
Can you share the format of the outputs you're testing (tree or find?) and the complete validation check output? Thanks.

[2021-03-24 13:22] ycAbout commented on #36
Here is the error log with everything.
[bidscic2_errors.txt](https://github.com/BrkRaw/bruker/files/6197529/bidscic2_errors.txt)

I think the cause is that the individual files naming does not follow bids spec

[2021-03-24 13:26] ycAbout commented on #36
.
├── dataset_description.json
├── README
└── sub-CIC_LRMousePhantom
    ├── anat
    │   ├── sub-CIC_LRMousePhantom_run-01_FLASH.json
    │   ├── sub-CIC_LRMousePhantom_run-01_FLASH.nii.gz
    │   ├── sub-CIC_LRMousePhantom_run-01_T2w.json
    │   ├── sub-CIC_LRMousePhantom_run-01_T2w.nii.gz
    │   ├── sub-CIC_LRMousePhantom_run-02_FLASH.json
    │   ├── sub-CIC_LRMousePhantom_run-02_FLASH.nii.g

[2021-03-24 13:39] gdevenyi commented on #36
Can please please also share the brkraw info on the dataset you converted, the convert command, and the helper file you used for the conversion. Thanks.

[2021-03-24 14:14] ycAbout commented on #36
I think it might be the naming issue. But as you wish, let me show you everything.
[code]

[2021-03-24 14:15] ycAbout commented on #36
[code]

[2021-03-24 14:19] ycAbout commented on #36
[code]
test.xlsx file:
[test.xlsx](https://github.com/BrkRaw/bruker/files/6197909/test.xlsx)

test.json file cannot uploaded, but here it is the content,
[code]

[2021-03-24 14:22] ycAbout commented on #36
[code]
You've already got the output file (it was bidscic2 but now it is bidscic6, but essentially they are the same).

[2021-04-07 17:51] ycAbout commented on #36
Anyone knows if the following EPI data belongs to func, or fmap?

bruker treat epi as func:
[code]
However, [bids 1.5](https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/01-magnetic-resonance-imaging-data.html) treat it as
[code]
[code]

cc
@gdevenyi

[2021-04-09 13:10] #43 closed

[2021-04-09 13:16] #41 closed

[2021-04-09 13:26] dvm-shlee commented on #44
@ycAbout
Thank you for your suggestion, I will check if I can make it soon.
I'm currently out of date on the git since I was not focused on software development in recent years after putting my efforts into this project.

I think I really need a collaborator who is familiar with this git stuff which really moving forward fast.
If you are willing to contribute to this project, please let me know!

[2021-04-09 13:53] dvm-shlee commented on #39
@ycAbout @gdevenyi
Thank you for working on this!
I'm currently checking all the issues, and inspecting my code for further improvement including all your suggestion.
Once I organized some to-do lists, I hope to discuss with you the best way to make this project more readable, robust, and solid.
(including organization of dev team who can contribute fixing the issue and manage the pull requests)

[2021-04-09 13:55] gdevenyi commented on #39
I'm all in for continuing to help. I swear I can sling code and eventually will...

[2021-04-09 13:55] dvm-shlee commented on #46
Thank you for your suggestion,
The brkraw code was kind of built by practical reason, then have not been organized.
I will work on it to modulate it into small fundamental functions for more readibility.

Also thank you for the suggestion on the resource as well, I will check it.

[2021-04-09 14:06] ycAbout commented on #39
Thanks. I think it is a good idea. FYI: currently I am working on the bids converter part and has done some work which hasn't been included in the pull request yet. I will have vacation and get back to it in May.

[2021-04-09 14:20] ycAbout commented on #46
It you plan to work on it in next three weeks, could you please leave the bids helper and bids converter parts for now? I have made some changes there and don't want to result in unnecessary code conflicts. :) Thanks.

[2021-04-09 17:10] dvm-shlee commented on #39
@gdevenyi @ycAbout Cool! Thank you so much you all, I'm really excited to work with you!

[2021-04-09 20:11] dvm-shlee commented on #42
I will update to use csv file then, the reason I choose the xlsx was for our lab member.
but agree that the csv will be the better option

[2021-04-15 14:28] suhyun417 opened #48 "Error in running command-line commands"
This could be a very basic Python question, as I don't know very well about Python, but whenever I run the command-line commands I got an error message of some sort.
For example, below is the error message I get when I run "brkraw info":
![image](https://user-images.githubusercontent.com/7525608/114885684-e412d880-9dd4-11eb-8ca6-f4d1c422bac9.png)

Also, the "brkraw gui" opens the GUI, but when I t

[2021-04-24 01:47] dvm-shlee commented on #48
@suhyun417 Hi, sorry for the late response.
It is maybe the latest 'released' version in PyPI has those issue,
Have you tried the latest 'GitHub' version?

could you try re-install package using
pip install git+https://github.com/brkraw/bruker

then test if the issue still occurs?

[2021-04-26 14:44] suhyun417 commented on #48
Hi, thank you for the response. I re-installed the 'GitHub' version as suggested, but had no luck- I'm getting the same error. FYI, the re-installation appears to be done well by and large.
![image](https://user-images.githubusercontent.com/7525608/116100934-6758e780-a67b-11eb-969b-d45fe14c9286.png)

[2021-04-29 21:26] araikes opened #49 "Paravision 360.2"
**Is your feature request related to a problem? Please describe.**
I am attempting to convert a dataset (single mouse brain, including a T2 RARE and 3x diffusion EPI for the moment). The dataset is already unzipped (originally tar.gz file) so I was attempting to open the directory using the GUI and got the error below (except for "Exception in Tkinter callback" not present for command line). I get

[2021-05-03 05:04] gdevenyi commented on #49
We would definitely welcome a complete example dataset to test against here. Otherwise, skipping the GUI and using the command line tools would be eliminate some unneeded complexity for testing.

[2021-05-03 18:06] ycAbout commented on #44
Hi @dvm-shlee,
A little background.
I am a software developer worked with @gdevenyi, and I am currently working on expanding the capacity of LORIS (a research data management software) to handle animal mri data in bids format. In order to do that, we decided to use bruker to convert raw animal mri to bids first. My short term goal within bruker is to make it generate validated bids format. This wo

[2021-05-06 17:38] araikes commented on #49
Hi @gdevenyi ,

Sorry for the lag on seeing this but thanks for getting back to me. Link to a Box folder with a tarred dataset for you to test with (representative of the majority of our datasets currently).

https://arizona.box.com/s/iseohu12gtc2llbsw94lzssvqulvt22a

Thanks

[2021-05-11 12:49] dvm-shlee commented on #48
@suhyun417 Could you provide a sample dataset that contains the same acquisition protocol? If the data you are trying to convert is fine for exposure to external, it would be best to correct the issue.

[2021-05-13 16:20] ycAbout opened #51 "[bids output] CogAtlasID should match format "uri", so does CogPOID"
For some of the bids output .json file, when the value of CogAtlasID is "Value was not specified", the bids validator raise
'.CogAtlasID should match format "uri" ' error. So does CogPOID.

This relates to #36, but that issue carries too much weight, I think put this as a separate issue would benefit users and make things more manageable.

[2021-05-13 16:26] gdevenyi commented on #51
These are recommended in the context of fMRI task:
https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/01-magnetic-resonance-imaging-data.html#fmri-task-information

Are they being included when the MRI is not labelled task? Otherwise, I think the requirement here is the json helper is supposed to be edited to provide the missing fields before the BIDS is generated.

[2021-05-13 16:26] gdevenyi commented on #51
(This may be a documentation issue if it is only included in fMRI task, which is correct)

[2021-05-13 18:09] ycAbout commented on #51
I checked a couple .json for non bold scans, it seems that they were not included (in our example dataset). In either case, I think a default value that passes the validator should be generated automatically if user did not specify any value. I will look into it.
It's also a good idea to mention it in documentation as well.

[2021-05-14 20:38] dvm-shlee commented on #36
@ycAbout The automated classification features are designed to fit with my own needs, to make it more generalization, I think we need other approaches to put some configuration on the JSON BIDS template. Any comments on this?

[2021-05-14 20:52] dvm-shlee commented on #51
The CogAtlasID and CogPOID seems recommended not mandatory,
It may be resolved by updating

https://github.com/BrkRaw/bruker/blob/0d387c62d81f64ee712476b73795727c618028e2/brkraw/lib/reference.py#L220

to be an empty string if this could work?

[2021-05-14 21:12] #17 closed

[2021-05-15 01:00] dvm-shlee commented on #37
@ycAbout  Thank you for checking out! I just fixed it!

[2021-05-15 01:00] #37 closed

[2021-05-17 15:32] ycAbout opened #52 "[Configuration] configurable replacement on underscore and hyphen in participant ID and session ID"
@gdevenyi gets full credit of this feature request.

General speaking, underscore ("_") and hyphen ("_") should be avoided in participant ID and session ID in your datasets if you are considering converting to bids format. However, in reality, there is some cases that do contain underscore and hyphen in participant ID and session ID.
brkraw bids_concert replaces those character with "Underscore" a

[2021-05-17 20:34] ycAbout commented on #36
@dvm-shlee , Sure. I feel that the best way would be provide default values that works out of the box, but it is also configurable if user needs to. The is a json file and a datasheet generated by the helper. And I feel at most we should have one file, or even not at all if possible. Again, I'm not an expert in animal fmri, I don't know the likely hood to provide the default value and minimize the

[2021-05-18 18:55] ycAbout commented on #51
You have to put something like "https://www.cognitiveatlas.org/fillYourID" to make it work. I made a PR for it.

[2021-05-18 19:38] gdevenyi commented on #36
I like the JSON+helper spreadsheet that currently exists. I think the key improvement here, is all the defaults/"detected" settings should go into those files as the defaults, and the documentation here needs to explicitly point to the BIDS standards section(s) describing how to choose.

[2021-05-18 19:44] gdevenyi commented on #49
Thanks. We can compare this against existing datasets to figure things out.

Can you provide detail on exactly what it contains, so we can validate vs the info the brkraw converter provides?

[2021-05-18 21:44] araikes commented on #49
Oh yeah. I should've done that to begin with. There are 4 folders in that TAR file for a single mouse:

[code]

Let me know what other info you might need.

[2021-05-19 20:24] ycAbout opened #54 "RepetitionTime is mutually exclusive with VolumeTiming"
BIDS validator error.
https://bids-specification.readthedocs.io/en/latest/04-modality-specific-files/01-magnetic-resonance-imaging-data.html#required-fields

[2021-05-20 18:22] ycAbout opened #56 "AcquisitionDuration is "Value was not specified", not passing bids validator"
For bold scan json sidecar:
AcquisitionDuration is "Value was not specified", not passing bids validator

[2021-05-20 18:42] ycAbout opened #58 "[bids converter] Remove .bamt files in bids output"
BIDS standard does not support .bmat file, and there is no plan for them to support the type given that, BIDS already supports bval & bvec files and these two and .bmat are same thing. (Are they the same thing?)

See also issue
https://github.com/bids-standard/bids-specification/issues/770

[2021-05-20 23:04] gdevenyi commented on #58
Notes on file formats, http://brainsuite.org/processing/diffusion/file-formats/

[2021-05-24 14:37] #51 closed

[2021-05-24 14:38] #54 closed

[2021-05-24 14:40] #56 closed

[2021-05-24 14:42] dvm-shlee commented on #52
The pull request related to this issue has been merged. Thank you!

[2021-05-24 14:50] dvm-shlee commented on #58
@ycAbout @gdevenyi Hi, thank you for pointing out. Actually, I'm not familiar with the DTI preprocessing, so just added all function to extract all possible parameter from the header that I can search from google. BTW, I doubt the code I wrote whether it could correctly generate the bval and bvec. Could you provide some sample DTI data (raw data) with an ideally converted nifti file with the bval,

[2021-05-24 14:52] dvm-shlee commented on #36
@ycAbout @gdevenyi Thank you for the comment! I merged the update, will close this issue.

[2021-05-24 14:52] #36 closed

[2021-05-24 14:55] dvm-shlee commented on #49
@araikes Hi, the main reason is the file you uploaded does not contain sufficient meta data files. I think this might be the issue related to the export function of Paravision 360?
Could you provide some information on how did you generate the 'tar' file?
The suggested way is to zip compress a whole raw-data folder with meta files located in the session root.

[2021-05-24 16:08] araikes commented on #49
Hi @dvm-shlee,

I will look into it. I haven't been the one generating the files. I'm just getting them downstream.

Can you provide me any information about what is missing from a meta-data so I can get with others about it?

Thanks again.

[2021-05-24 16:34] dvm-shlee commented on #49
@araikes
![image](https://user-images.githubusercontent.com/7221078/119378295-1cd38680-bc8c-11eb-969e-6a111d0d6124.png)

The 'subject' file is the requirement to extract subject information.  The compression file you had shared seems not contain it. Is it the issue related to the Paravision 360? so don't have subject information on the data and instead keep it in database only?
![image](https://us

[2021-05-24 16:40] dvm-shlee commented on #49
@gdevenyi How do you think about the raw data converting option 'without' subject file? Maybe return the error message? The subject file is one of the requirements to check '<brkraw obj>.is_pvdataset' became True.

https://github.com/BrkRaw/bruker/blob/35b027aa493f647d1a50aace0568f68798363fee/brkraw/lib/loader.py#L95

[2021-05-24 16:52] dvm-shlee commented on #44
@ycAbout Sorry about delaying on this simple task, just change the default branch to 'main'

[2021-05-24 16:52] #44 closed

[2021-05-24 18:25] gdevenyi commented on #58
Do you mean some human data?

[2021-05-24 18:25] gdevenyi commented on #52
This feature I believe hasn't been merged. This is a followup on #50 to make the substitution configurable, rather than hard-coded.

[2021-05-24 19:33] dvm-shlee commented on #58
Oh no, any data collected from Bruker scanner? Just in case if you have any

[2021-05-24 21:32] gdevenyi commented on #58
I think there's a set in what I sent you ☺️

[2021-05-26 14:09] gdevenyi commented on #49
I think we need to confirm what PV360, whether this is an accident or the way things are.

Can we progress without subject?

We should make a big warning at least.

[2021-05-27 01:36] dvm-shlee commented on #49
@gdevenyi We could 'force' it with the option if needed, but checking the 'subject' file is the item to validate PVdataset, so removing this validation might cause other unexpected errors of this module.

[2021-05-27 19:37] ycAbout opened #59 "[bids convert] add support for MSME / MESE type"
currently brkraw can not handle MSME type, and treat it as etc.
It need to be converted into:
https://bids-specification.readthedocs.io/en/stable/04-modality-specific-files/01-magnetic-resonance-imaging-data.html#anatomy-imaging-data

[2021-05-27 19:45] ycAbout commented on #58
If this also helps:
For a couple bids output files such as
`****run-02_dwi.nii.gz`
it does not pass the bids validator with the following error:
`The number of volumes in this scan does not match the number of volumes in the corresponding .bvec and .bval files.`

[2021-05-28 02:05] araikes commented on #49
Hi @dvm-shlee and @gdevenyi,

So it turns out that the PV360.2 does have the subject top-level file. Those who have been exporting data for me have just been grabbing the scan folders. I am going to hopefully have a complete dataset to test with tomorrow or next week.

[2021-05-28 03:39] gdevenyi commented on #49
alright! So brkraw is working as expected so far and caught an incomplete dataset. Please confirm that things work properly with a complete dataset and we can close this out with NOTABUG

[2021-05-28 18:20] gdevenyi commented on #49
:+1: to this, we should be catching errors for malformed datasets and providing clear feedback on what's wrong if at all possible.

[2021-06-01 18:19] ycAbout opened #61 "[naming] consider change repository name from bruker to brkraw"
It seems brkraw is used everywhere, however, the repository name is bruker. This seems a bit confusing. It might be better to change the repository name to brkraw and to be consistent along the way.

[2021-06-01 18:54] gdevenyi commented on #61
:+1: to this. it is indeed confusing

[2021-06-07 19:39] ycAbout opened #62 "[BIDS converter] way to handle session in output"
Currently in bids converter, if you remove session in datasheet, no session will be appeared in output. Otherwise, it is based on whether there is multiple session. Session only appears with multiple session. I think it is helpful to be able to include session info even for single session.
I'm working on it to figure out a way.

[2021-06-09 13:37] dvm-shlee commented on #58
@ycAbout does it the one converted from the test dataset you had shared to me? I will take a look.

[2021-06-09 13:41] dvm-shlee commented on #61
I think it is good suggestion, I just try to take the good name early for the python package and name the actual package later,;D

[2021-06-09 13:42] dvm-shlee commented on #62
I think I just made to not create the session when all session name is same. Maybe just need to make condition as bellow?

If session id is None -> single session.
If session id exists -> multi session

[2021-06-09 13:57] ycAbout commented on #62
Hi @dvm-shlee , Great! I think we are on the same page, I already made a PR for it.
If session id is None -> single session --> session not appear in output.
If session id exists -> multi session --> session appear in output, and multi_session should be include_session.

[2021-06-10 00:40] gdevenyi commented on #58
@ycAbout is working with the same files I sent to you @dvm-shlee

[2021-06-11 13:45] dvm-shlee commented on #61
Changed it! But please let me know if the change of folder name causes any issues!

@ycAbout I'm considering making this more open-source, so please let me know if you have any other suggestions! I'm learning!

I will set some progress and milestone documents for the group.

[2021-06-11 14:13] ycAbout commented on #61
Great! @dvm-shlee  It's very nice to have such a project so people can use it!

[2021-06-11 14:16] gdevenyi commented on #61
Thankfully github actually sets up redirects internally, so everything keeps working for clones etc :) 👍🏻

[2021-06-11 18:50] araikes commented on #49
Hi @gdevenyi and @dvm-shlee ,

I had a chance (finally) to test this with a dataset that includes the subject file. However, I'm still getting the same error about being non-iterable. What else am I missing?

New tar is available here: https://arizona.box.com/s/0viq0v8j2efkcdun4bf94hgaifp3qfwf

[code]
Thanks

[2021-06-29 00:06] gdevenyi opened #65 "Investigate generating NIFTI-MRS standard files"
https://github.com/wexeee/mrs_nifti_standard

[2021-07-13 16:27] araikes commented on #49
Hi @dvm-shlee,
Just a bump on this. I'm still getting non-iterable errors with full exports for PV 360 v2. Anything I can do to fix this?

[2021-07-13 17:26] gdevenyi commented on #49
Just noticing here, your list goes 2,6,7,8, what about the missing numbers? This is an iteration failure so can you try with a complete export not excluding anything?

[2021-07-13 19:55] araikes commented on #49
@gdevenyi

Same issue even with a fully complete export:
https://arizona.box.com/s/m35b627n85gzx6zmrx7m5h3mgr108tpd

[2021-07-19 13:56] jeremie-fouquet opened #66 "bids_convert does not produce the .nii files when run from the study folder"
**Description**
`brkraw bids_convert` does not produce the .nii files when run from the study folder using the `./` path.

**To Reproduce**
1. From a bash terminal, `cd` into any Bruker PV6.0.1 study folder
2. Run `brkraw bids_helper ./ ./BIDS_helper -j`
3. Run `brkraw bids_convert ./ ./BIDS_helper.xlsx -j ./BIDS_helper.json -o ./BIDS`
4. See that no .nii files are created in the ./BIDS directory.

[2021-08-18 17:35] gdevenyi opened #68 "niftis from brkraw don't have the qform/sform codes specified in the source"
Code here sets the qform/sform:
https://github.com/BrkRaw/brkraw/blob/main/brkraw/lib/loader.py#L766-L767

However, converted files end up with

qform=0, sform=2

I suspect something in nibabel is being too clever, API ref:
https://nipy.org/nibabel/reference/nibabel.nifti1.html

[2021-08-21 04:37] #59 closed

[2021-08-24 14:41] #39 closed

[2021-08-31 23:53] dvm-shlee commented on #68
Could you provide more information on this? what option have you been used then qform and sform were altered to nibabel default setting?

[2021-08-31 23:55] dvm-shlee commented on #66
Hi, @jeremie-fouquet Thank you for posting this issue, I'm expecting that the issue was related to that the current version does not output the error. Could you also provide your image modality and the version of Paravision?

[2021-08-31 23:56] dvm-shlee commented on #65
Cool, I will take a look if we can integrate this to our package

[2021-09-01 00:55] gdevenyi commented on #68
The cited lines in the code specify qform=1 an sform=0, however if I run a conversion:

[code]

Output file has qform=0, sform=2

[2021-09-01 00:59] gdevenyi commented on #68
I think the nibabel API is being too clever based on how you're constructing object:
https://nipy.org/nibabel/reference/nibabel.nifti1.html#nibabel.nifti1.Nifti1Header.set_qform
[code]

https://nipy.org/nibabel/reference/nibabel.nifti1.html#nibabel.nifti1.Nifti1Header.set_sform
[code]

It looks like the order of operations perhaps during creation of the NIFTI object is causing the nibabel API to "

[2021-11-16 04:36] timrosenow commented on #49
Hi all.
I've also had this issue with PV-360.1. I've narrowed down the error a bit, it looks like a problem with this line in utils.py (98)
`is_array = [convert_string_to(c) for c in is_array]`
Using pdb, when the iteration fails, it looks like is_array is actually '[0]' which is automatically converted by `convert_string_to()` to an integer rather than a one-element list.
I haven't worked out wha

[2021-11-16 06:08] timrosenow commented on #49
OK so the problem is deeper than that one call. It looks like maybe the formatting of the metadata files is different in PV360?

[code]

[2021-11-16 21:46] araikes commented on #66
Bump for this. I can confirm that `brkraw bids_convert` only creates the top-level files and not the subject folders.

PV 360.2, `brkraw=v0.3.7`

[2021-11-16 21:48] araikes commented on #49
@timrosenow,

Try installing the very latest version of `brkraw` from github `pip install git+https://github.com/brkraw/brkraw`.  I recommend a clean conda environment if possible.

I just tested it an my parsing issues are gone. There are other issues like #66, but `brkraw tonii` works.

[2021-11-17 07:21] grandjeanlab commented on #66
I seem to have same issue with a PV360 dataset.

I get:
  File "~/.conda/envs/bruker/lib/python3.6/site-packages/brkraw/ui/scan_info.py", line 37, in load_data
    size = brkraw_obj._get_matrix_size(visu_pars)
  File "~/.conda/envs/bruker/lib/python3.6/site-packages/brkraw/lib/loader.py", line 1104, in _get_matrix_size
    if num_slice_packs > 1:
TypeError: '>' not supported between instances of '

[2021-11-17 17:28] araikes commented on #66
@grandjeanlab,

Been doing a lot of testing over the last 24 hours with this. Can you do me a favor? Can you post a file tree for one of your study folders? Or make one available that I could test on and see where the failure points are?

[2021-11-19 03:31] timrosenow commented on #66
@araikes: @grandjeanlab and I are working on the same dataset, you can download it here:
https://cloudstor.aarnet.edu.au/plus/s/tBVXvb6JjpHeJdb

[2021-11-19 03:36] timrosenow commented on #49
@araikes
Thank you - you are correct, thank you!

[2021-11-19 20:12] araikes opened #75 "DTI conversion"
**Describe the bug**
Using the current github version of `brkraw`, I'm able to convert all of my PV360.2 data (after a bit of manipulation to some files to fix the acquisition name for the DTI sequence). However, my diffusion data do not have the correct b-vector ordering. Currently, the b-vectors are being obtained from the `method` file and the `$PVDwGradVec` key. This orders the vectors in read

[2021-12-01 01:42] milaurose opened #76 "Multiple runs of the same modality conflict"
**Describe the bug**
When the dataset includes multiple runs of the same modality, running```brkraw bids_convert``` gives a conflict error saying that the run index must be unique. This occurs even when a unique run number has been entered into the datasheet. It appears as though the code is not actually checking the run value, may be an indentation bug (in https://github.com/BrkRaw/brkraw/blob/ma

[2021-12-01 02:27] gdevenyi commented on #76
According to the BIDS spec, incrementing run values for the same scan type should be allowed/supported
[code]

[2021-12-06 16:29] cecilyen opened #77 "Corrections in JSON Template"
**Is your feature request related to a problem? Please describe.**
I compared BIDS 1.6 specs, PV 6.0.1 parameters, and brkraw 0.3.7. I found some issues shown below.

This seems not right. The model name is listed in “System” of “uxnmr.info”

This shall be “VisuCoilReceiveMultiName”.

”MRTransmitCoilSequence” is not an array. You may want to use “VisuCoilTransmitName”

brkraw can’t find “ACQ_statu

[2021-12-06 16:32] gdevenyi commented on #77
Hi, a PR proposing corrections to the template would be welcome.

[2021-12-07 16:35] cecilyen opened #78 "xlrd 2.0.1 Dropped Supports of XLSX"
**Describe the bug**
I just installed brkraw on CentOS 7. Then, I tried to run BIDS convertor. brkraw reported "xlrd.biffh.XLRDError: Excel xlsx file; not supported"

**Desktop (please complete the following information):**
 - OS: CentOS 7.9
 - Python: 3.6.8
 - xlrd: 2.0.1

**Additional context**
I found xlrd dropped XLSX support from 2.0.0 last year. To solve this, one must uninstall xlrd>2.0.0 a

[2021-12-07 16:40] gdevenyi commented on #78
Related, don't use XLS at all, https://github.com/BrkRaw/brkraw/issues/42

[2021-12-07 18:36] cecilyen commented on #78
XLS is a proprietary format, which is not good to exchange information. But, I think either CSV or XLSX is fine.

[2021-12-07 22:12] cecilyen commented on #77
I found few more issues as below:

This is not correct for RARE. It should be math.ceil( PVM_EnCMatrix[1]/PVM_RareFactor )

For RARE, this is PVM_EchoTime

For RARE, this is PVM_EchoTime*(PVM_RareFactor-1)

[2021-12-08 04:17] cecilyen commented on #77
Two more issues

"VisuAcqEchoSequenceType" basically tells whether this sequence can do "SpinEcho", "GradientEcho" or "Both". It doesn't provide much information, which can be safely ignored.

When "RepetitionTime" and "SliceTiming" are defined, neither "VolumeTiming" nor "AcquisitionDuration" must be defined.
Please see BIDS 1.6 specs p.56 option D.

[2021-12-08 04:30] cecilyen commented on #77
One suggestion

Water resonance frequency will drift a little every day. So, it may be better to round to the nearest two decimal digits for reporting the magnetic field strength. round( VisuAcqImagingFrequency/42.57638474, 2)

[2021-12-14 16:51] cecilyen commented on #77
Just realize that SliceEncodingDirection also has direction.

A - sign indicates that the contents of SliceTiming are defined in reverse order - that is, the first entry corresponds to the slice with the largest index, and the final entry corresponds to slice index zero. It can be decoded from "PVM_ObjOrderList".

[2021-12-27 15:54] grandjeanlab commented on #66
Hi, I've converted several datasets using brkraw 0.3.7.
pv360v1 works, but I get the `TypeError: '>' not supported between instances of 'NoneType' and 'int'` for PV360v2 and PV350v3

Is the dataset provide by @timrosenow enough, or should I provide example PV360v1 that works for comparison?

[2022-01-12 15:27] karthikc777 opened #79 "PV360v3.1."
Hi all!

**Is your feature request related to a problem? Please describe.**
I have data-sets from PV360v2.0 and PV360v3.1. I was able to successfully read and write data from PV360v2.0 data. However, there's an error reading v3.1 data. Could you please advise?

![PV360_v3 1_Error](https://user-images.githubusercontent.com/10176886/149168091-2d42086b-2bae-45c5-8925-5ced7876eac2.png)

Many thanks!

[2022-01-13 10:21] grandjeanlab commented on #66
PV360 V3.1 switched VisuVersion from 4 to 5

see visu_pars header
##TITLE=Parameter List, ParaVision 360 V3.1
##JCAMPDX=4.24
##DATATYPE=Parameter Values
##ORIGIN=Bruker BioSpin MRI GmbH
##OWNER=jrodger
$$ Write Options: Symbolic Enums, RLE encoded arrays, symbol visibility
$$ 2021-09-20 15:35:23.224 +0800  jrodger@czc025828g
$$ /opt/nmrdata/PV-360.3.1/data/jrodger/20210920_142943_C2A1_StandardRatP

[2022-01-13 11:05] grandjeanlab commented on #49
I think Pull request #80 should solve the issue. Please test and see. I cannot get the dataset through box to test myself.

[2022-01-13 11:09] grandjeanlab commented on #79
I think pull request #80 solves this for PV360 v3. can I let you check or upload the pv360v3 dataset so I can check?

[2022-01-13 14:12] karthikc777 commented on #79
Thanks, I will check and let you know.

[2022-01-13 16:38] #62 closed

[2022-01-13 16:40] dvm-shlee commented on #79
@grandjeanlab Thank you, your pull request has been merged!, @karthikc777 Please let me know if you are still having issues.

[2022-01-13 16:42] dvm-shlee commented on #77
@cecilyen Hi Thank you for your contribution, I will review your comment and apply it to our template! Really helpful!

[2022-01-13 16:44] dvm-shlee commented on #78
@gdevenyi @cecilyen I'm actually considering it would be better to use HTML5 based GUI through the web browser, to handle the data. While I prepare some new solutions, I will make it CSV compatible.

[2022-01-13 17:04] gdevenyi commented on #78
GUIs are fine and all, but the workflows I use brkraw for are command-line and preferably automated, I'd like to see brkraw move in the direction of https://github.com/nipy/heudiconv for automation

[2022-01-14 15:07] karthikc777 commented on #79
Hello,

I still have the same issue. Could you please have a look? Please find the link to the data below:
https://drive.google.com/file/d/11NbohJji_-GpLYIa7lbmgFwojP1Lh7F_/view?usp=sharing

Thanks!

[2022-01-17 09:14] grandjeanlab commented on #79
it works for me when I delete folder `99999`. This is a picture of the craddle before animal entry into the bore? it seems to confuse `brkraw`.  Maybe an issue that can be filtered out @dvm-shlee ?

Also, make sure you get a fresh install of brkraw from github `pip install git+https://github.com/brkraw/brkraw`

I ran: `brkraw  bids_helper ./ pv360` and `brkraw  bids_convert ./ pv360.xlsx`

and get

[2022-01-17 18:21] karthikc777 commented on #79
Thanks for checking the data. I have installed a fresh version(v0.3.7), deleted the 9999 folder but I'm getting a different error 'name multi_session not defined' on both PV360v2 and v3.1. Please see below the screenshot
![error](https://user-images.githubusercontent.com/10176886/149820752-7c1a8f59-f261-46c3-9ad3-507cc3f49eb2.png)
Thanks!

[2022-01-18 10:09] grandjeanlab commented on #79
super weird. I get the same error when I  user

pip install git+https://github.com/brkraw/brkraw

but the issue isn't there when I pip install from my forked version.

pip install git+https://github.com/grandjeanlab/brkraw

Would you mind trying?

[2022-01-18 11:51] karthikc777 commented on #79
I've had a go and it's working now!

Many thanks!

[2022-01-18 12:56] grandjeanlab commented on #79
@dvm-shlee , not sure what happened here. My fork should have been latest from brkraw and merge request should only have covered my commit on my fork..  any clue?

[2022-02-02 16:57] dvm-shlee commented on #75
@araikes Sorry for the delayed response,
I could help it to be a more seamless process in brkraw. but unfortunately, I'm not that familiar on how the gradient vectors need to be processed according to the reconstructed image yet, so it would be really helpful for me if you could provide some logic on what would be the best way to generalize the method to build b-vectors?

So is it helpful that I s

[2022-02-02 18:30] dvm-shlee commented on #79
@grandjeanlab @karthikc777 Just identify the origin of issues, de6cb1e will resolve the issue, please let me know if you still experiencing the same issue after patching this.

[2022-02-02 19:40] dvm-shlee commented on #78
@gdevenyi @cecilyen `bids_helper` now supports CSV, TSV, and XLSX
I added optional argument --format (-f) option for `bids_helper` command.

So the conduction made by
1. if the user provided an extension on output filename, it will use that format time among (csv, tsv, xlsx)
2. if the user did not provide an extension, it will use default file format, csv
3. user can specify which format to be use

[2022-02-02 19:49] gdevenyi opened #84 "Commentary/Request: Please don't commit "commented" code"
Some recent commit changes where lines were changed are done via commenting the old code and adding new code.

This makes my diff-aligned brain very sad.

I also support doing a once-off cleanup commit to remove all these and adding it to `.git-blame-ignore-revs`

[2022-02-02 19:54] dvm-shlee commented on #76
@milaurose Sorry for the delayed response, I think the commit 600a529e6b3e09d02c9b88de52c8df6e99944bac had solved this issue. The issue was happened due to the missing 'f' option on the string, now it will work normally.
The latest version is now 0.3.8-rc1

Thank you!

[2022-02-02 19:54] #76 closed

[2022-02-02 19:59] dvm-shlee commented on #84
@gdevenyi Thank you for pointing out this. I had my code under this main branch, so intend to put all comments on the code just in case the changes are making an issue while I'm patching some changes I made recently.

Since I think it is better to commit the source code even myself through Pull requests, I will make sure to clean all comments on the next update. Thank you again!

[2022-02-02 20:55] dvm-shlee commented on #23
@gdevenyi hope this pull request makes some process using legacy functions convenient!
I requested your review of it. Thanks! I will close this issue since it has been a long time since opening.

[2022-02-02 20:55] #23 closed

[2022-02-02 20:56] dvm-shlee commented on #24
Closing this old issue since no additional comments show up.

[2022-02-02 20:56] #24 closed

[2022-02-03 00:55] #79 closed

[2022-02-03 01:54] dvm-shlee commented on #42
brkraw now support csv, tsv, xlsx, (default csv)

[2022-02-03 01:54] #42 closed

[2022-02-03 01:54] #78 closed

[2022-02-03 01:56] #61 closed

[2022-02-03 01:58] dvm-shlee commented on #58
patched on de6cb1e69bc10d101db0fcabe88179ede778335b

[2022-02-03 01:58] #58 closed

[2022-02-03 02:04] dvm-shlee commented on #49
Thank you for helping solve the issue, we tested on the new PV360.v3, so far, working well. I will close this issue

[2022-02-03 02:04] #49 closed

[2022-02-03 02:06] dvm-shlee commented on #48
@suhyun417 the issue might already been resolved, If you still having same issue, please use `bruker-0.3.8rc1` Thank you

[2022-02-03 02:06] #48 closed

[2022-02-03 02:07] #46 closed

[2022-02-03 02:13] #8 closed

[2022-02-03 02:13] #12 closed

[2022-02-03 02:20] #84 closed

[2022-02-03 02:47] dvm-shlee commented on #32
@gdevenyi item 3(related to #26) added on new push request, could you help to write some warning sentences?

[2022-02-03 02:50] dvm-shlee commented on #27
the new update I made on the pull request will solve this issue.
not sure when it happened, but the code generates an error if the folder is not pvdataobj, which is the opposite condition of what I originally intended to (to make only works for the parents folder)

I will close this issue

[2022-02-03 02:50] #27 closed

[2022-02-03 02:54] dvm-shlee commented on #38
@gdevenyi I've tested with the file you provided and cannot reproduce the issue.
I think at some point, this issue has been solved

I will close this issue

[2022-02-03 02:54] #38 closed

[2022-02-03 02:59] dvm-shlee commented on #40
0.3.8rc1 will be pushed to PyPi once pull requests #86 merged.

[2022-02-03 20:18] dvm-shlee commented on #75
@araikes Hi, I just found that 'PVM_SPackArrGradOrient' might be useful to determine the orientation of the gradient?
So do you think it is useful to re-order the bvec and determine their sign according to this information?

@gdevenyi any suggestion?

[2022-02-05 16:54] gdevenyi commented on #75
Unfortunately, I don't have any experience in DTI/DWI, so I can't offer help here.

[2022-02-06 07:11] araikes commented on #75
Hi @dvm-shlee,

I definitely think that using the SPackArrGradOrient likely makes sense. Read direction is usually in the head-foot direction. Using the gradient table as it is currently written automatically writes it in read-phase-slice irrespective of which axes are which.

I'll gather up a clear example on Monday and get back you.

[2022-03-11 15:51] gdevenyi commented on #75
Following up here on if you managed to construct an example?

[2022-03-24 19:01] araikes commented on #75
Sorry... This dropped off my radar.. I'll try and get one put together.

[2022-03-30 09:53] mcraig-ibme opened #88 "orientation of phase-encoding reversed DWI image"
I am processing some rodent data which includes forward and reversed phase-encoding direction DWI scans. I am finding that the reversed scan does not display consistent orientation relative to the other DWI and anatomical scans when viewed in an orientation-aware Nifti viewer such as fsleyes. The PE reversed image appears inverted in the Y direction which seems consistent with the PE reversal not

[2022-04-15 05:22] dvm-shlee commented on #88
@mcraig-ibme Thank you for reporting this issue. Regarding the reversed phase-encoding, not sure if there are any parameters in `visupars` already handling this. Might need to investigate the dataset.

Could you share the sample dataset once the researcher confirms sharing? also could you let me know what PV version you are using?

[2022-04-21 13:48] Hierakonpolis opened #89 "Functional metadata not getting picked up during BIDS conversion"
My bad, I found how I was just screwing it up.

[2022-04-21 17:51] #89 closed

[2022-04-26 08:27] mcraig-ibme commented on #88
I have sent a link to a dataset via email, hope this helps.

[2022-05-03 12:55] mcraig-ibme opened #90 "Ordering of BVAL/BVEC in DTI data"
The ordering of the BVECs produced for DTI data has changed in recent versions of brkraw, and the new code seems to be incorrect at least for some data sets

**To Reproduce**
Convert DTI data using current PyPi release of brkraw
Repeat conversion using current GitHub code

**Expected behavior**
BVALS/BVECS should match, or if not the new code should be correct if a bug has been fixed

**Actual beh

[2022-05-05 09:16] gobejosh opened #91 "Phase encoding direction in json file not valid"
**Describe the bug**
Hello,

after using the tools to convert a dataset of anatomic and fMRI images acquired with PV5.1 to BIDS, the "PhaseEncodingDirection" field was filed "col_dir" instead of a simple letter in all of the generated json files.
As it is a small dataset, i wouldn't mind changing it manually but i am not sure what letter corresponds to "col_dir" or "row_dir" and how to determine t

[2022-06-16 00:02] araikes opened #92 "JSON updates"
**Is your feature request related to a problem? Please describe.**
@dvm-shlee,

I was editing my local JSON template and wanted to include information about the number of EPI segments for our diffusion scans. We had to do a lot of trouble shooting so knowing the number of segments for a particular scan would be helpful. This field is in the "methods" file and is `##$NSegments=2 or 4 or whatever`.

[2022-08-08 09:32] Remi-Gau opened #93 "default readme in BIDS dataset after conversion"
hey

We (BIDS maintainers) are trying to see if we can improve the quality of the average README in BIDS dataset. Those tend to be pretty thin and are missing some information we would like to see there even if it can be formalized "yet" into the BIDS specification.

Hoping to leverage the bids converters to help to do.

So I am going around the different BIDS converters repo to see if we can star

[2022-09-28 14:17] #26 closed

[2022-09-28 14:19] dvm-shlee commented on #93
Thank you for informing the update and your suggestion. We will adopt this feature as you suggested!

[2022-09-28 14:53] #92 closed

[2022-09-28 14:57] dvm-shlee commented on #92
@araikes please find the change I made to the code on the below.
https://github.com/BrkRaw/brkraw/pull/94/commits/3b871e28734c4b20732d75fd46289ae9ebd58c4e

Originally the metadata was parsed based on the prefix of the key string. But it will now check first from acqp, method, or visu_pars, then return the value from the one have the key value.

If this change does not solve your issue, please let

[2022-09-28 15:16] dvm-shlee commented on #90
@mcraig-ibme Thank you for creating this issue, and sorry for the long delay on this.

In terms of finding the correct BVEC,
I'm considering using FA colormap to check (red for right-left, blue for dorsal-ventral, and green for anterior-posterior).
could you provide any suggestions if there is a better approach to check this from your data?

[2022-10-25 15:07] jeremie-fouquet opened #95 "Outputted diffusion bval are not the effective b-values anymore"
**Describe the bug**
Since commit https://github.com/BrkRaw/brkraw/commit/de6cb1e69bc10d101db0fcabe88179ede778335b, the bvals are read from PVM_DwBvalEach instead of PVM_DwEffBval. This has two effects
1. The outputted .bval file contains the _requested_ bval instead of the _effective_ bvals. I would argue the _effective_ values are much more useful.
2. By default, the bvals do not hold the b0 val

[2022-10-27 16:11] jeremie-fouquet opened #97 "Clarify and correct b-vector format and orientation"
**Description**
It would be good to:
1. Clearly identify the output format that brkraw is using for bvec and bval. For now, it seems to be the FSL format, based for instance on this page: https://mrtrix.readthedocs.io/en/latest/concepts/dw_scheme.html#fsl-format.
3. If the FSL format is chosen, make sure the vectors in the bvec file are in the image space.
2. Update the documentation to reflect th

[2022-10-27 18:40] jeremie-fouquet commented on #88
Hi. We also implemented reversed phase-encode EPIs for fMRI and dMRI. Bruker suggested we not only set ACQ_scaling_phase=-1, but also modify the RecoRelations.c files to take into account the reversed image orientation correctly. I have not tested it, but I guess that by only changing only ACQ_scaling_phase, the data would be upside-down even in the ParaVision display. I would argue this issue sho

[2022-11-04 14:36] johnjiang406 opened #98 "Keep getting "TypeError: argument of type 'int' is not iterable""
Hi there,

Installed Brkraw on my Window10 PC. The installation was fine. But when running it, I keep getting the errors as below. Can anybody help? Thx a lot!

I have a full raw dataset in the path E:\raw\
![image](https://user-images.githubusercontent.com/117460646/200000154-8166cf4a-52d8-48f0-8d69-3cbffac0241e.png)

![image](https://user-images.githubusercontent.com/117460646/200001224-163fda79

[2022-11-04 15:00] gdevenyi commented on #98
Possibly related, https://github.com/BrkRaw/brkraw/issues/49

[2022-11-04 16:31] johnjiang406 commented on #98
Thx for the super quick reply!

I carefully read the #49 and #80 and #66. Then, I downloaded the dataset in #66. It works well.

So I tried the other data from my scanner. Found that some of them works, but some doesn't. My sanner use PV6.0.1. And I uploaded the "good" data here https://drive.google.com/file/d/1BMlb3cluK-9N8NUsnx_rmHn10MoiL1q6/view?usp=share_link.
And the "bad" data is here https:

[2022-11-09 13:10] arefks opened #99 "Only json file creation"
**Is your feature request related to a problem? Please describe.**
Not a Problem

**Describe the solution you'd like**
A flag that could suppress the creation of the nii files, or a flag that would ONLY create the corresponding JSON files.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**

[2022-11-15 17:35] dvm-shlee commented on #99
@arefks Could you provide more detail about what function you want to have?
For example, do you want to generate JSON on BIDS? or for a single NII file you already converted?

[2022-11-15 17:57] arefks commented on #99
@dvm-shlee
I have a huge longitudinal dataset with raw mri imaging files. I have already transformed them to NII long time ago with a specific naming/folder structure. (with the use of: [https://github.com/aswendtlab/AIDAmri/blob/master/bin/conv2Nifti_auto.py](https://github.com/aswendtlab/AIDAmri/blob/master/bin/conv2Nifti_auto.py) ), As the NII files don't contain all of the meta information sto

[2022-11-16 19:49] Nerdynien commented on #97
@jeremie-fouquet do you have a current workaround/solution to generate the appropriate bval/bvec files in the correct space to continue an analysis in FSL? this issue has been haunting me for a while!

[2022-11-16 21:11] #90 closed

[2022-11-18 18:50] araikes commented on #95
@jeremie-fouquet,

I have a question about the effective bvals and manipulating them for Bruker systems. Do you have an email address I can send my question to as it is not directly relevant to brkraw?

Thanks

[2022-11-18 19:20] jeremie-fouquet commented on #95
Yes, sure.

jeremie.fouquet.comtl@ssss.gouv.qc.ca

[2022-11-18 19:33] jeremie-fouquet commented on #97
My current workaround is a homemade script that reorders the x-y-z components of the .bvec file to match my acquisition orientation (plus I don't rotate the acquisition FOV so I don't have to apply extra rotations). I confirmed the reordering was right by checking the orientation of the tractography fibers in a white matter tract.

This script is specific to our acquisition orientation. A general

[2022-11-18 21:55] araikes commented on #95
Great. Thanks. Sent you an email.